*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(246, 184, 215, 0.234);
    text-align: center;
    line-height: 3.1;
}

.hero{
    padding: 20px 10px;
}

.hero img{
    border-radius: 50%;
    margin-bottom: 10px;
}

.section h2{
    font-size: 22px;
}

.hero h2{
    font-size: 37px;
}

.accent{
    color: mistyrose;
}

.grid{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;

}

.grid div{
    padding: 5px;
    border-radius: 40px; 
    background-color: mistyrose;
    width: 300px;
}


@media (max-width: 768px){
    body{background-color: floralwhite;}
}

