*{
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
}

body{
    background-color: rgba(243, 224, 234, 0.234);
    text-align: center;
    line-height: 3.1;
}

.hero{
    padding: 20px 10px;
}

.hero img{
    border-radius: 50%;
    margin-bottom: 10px;
}

.section h2{
    font-size: 22px;
}

.hero h2{
    font-size: 37px;
}

.accent{
    color:black
}

.grid{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;

}

.grid div{
    padding: 20px;
    border-radius: 40px; 
    background-color:darkgrey
    width: 450px;
}


@media (max-width: 768px){
    body{background-color: rgb(234, 231, 227);}
}

